[user]
	name = Alec Buckenheimer
[push]
	default = simple
[color]
	ui = true
[color "status"]
	added = green
	modified = yellow
	changed = yellow
[alias]
        # every day use
        s = status --branch -s
        l = log --pretty=format:'%C(yellow)%h %Cgreen%an %Cblue(%ad): %Creset%s' --graph --date=short
        co = checkout
        diff = diff -w
        up = !git stash && git pull --rebase --prune $@ && git submodule update --init --recursive && git stash pop
        cm = commit -m
        # utility
	# push a branch for the first time
        pushb = !git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)
        # when I forget what I've been working on
        me = log --pretty=format:'%C(yellow)%h %Cgreen%an %Cblue(%ad): %Creset%s' --graph --date=short --author=abuckenheimer
        last = log -p --follow -n 1
        # drop WIP
        nuke = checkout --
        # edit last commit
        undo = reset HEAD~1 --mixed
        # show the previous version of something
        prev = !git show $(git log --pretty=format:'%h' --skip ${2:-1} $1 -n 1):$1
        # collapse n commmits into one, may be better served by rebase -i
        colln = "!f() { git reset --soft HEAD~$1 && git commit -m $2; }; f"
        # conflict resolution
        theirs = "!f() { git checkout --theirs -- \"${@:-.}\"; git add -u \"${@:-.}\"; }; f"
        mine = "!f() { git checkout --ours -- \"${@:-.}\"; git add -u \"${@:-.}\"; }; f"
	# cleanup
	prune-branches = !git branch --merged master | grep -v -E '(master|prod)' | xargs git branch -d
#[core]
#	pager = diff-highlight | diff-so-fancy | less --tabs=1,5 -R
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
